<a href="https://colab.research.google.com/github/nguyen-nhat-mai/ile-de-france-apartment-price-prediction/blob/main/Geolocalisation_map.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#**Parcel mapping**
Source: [Opendatasoft](https://public.opendatasoft.com/explore/dataset/buildingref-france-demande-de-valeurs-foncieres-geolocalisee-millesime/table/?disjunctive.date_mutation&disjunctive.nature_mutation&disjunctive.dep_code&disjunctive.type_local&disjunctive.code_nature_culture&disjunctive.nature_culture&disjunctive.code_nature_culture_speciale&disjunctive.nature_culture_speciale&disjunctive.dep_name&disjunctive.reg_code&disjunctive.reg_name&sort=-longitude&rows=10&dataChart=eyJxdWVyaWVzIjpbeyJjb25maWciOnsiZGF0YXNldCI6ImJ1aWxkaW5ncmVmLWZyYW5jZS1kZW1hbmRlLWRlLXZhbGV1cnMtZm9uY2llcmVzLWdlb2xvY2FsaXNlZS1taWxsZXNpbWUiLCJvcHRpb25zIjp7ImRpc2p1bmN0aXZlLmRhdGVfbXV0YXRpb24iOnRydWUsImRpc2p1bmN0aXZlLm5hdHVyZV9tdXRhdGlvbiI6dHJ1ZSwiZGlzanVuY3RpdmUuZGVwX2NvZGUiOnRydWUsImRpc2p1bmN0aXZlLnR5cGVfbG9jYWwiOnRydWUsImRpc2p1bmN0aXZlLmNvZGVfbmF0dXJlX2N1bHR1cmUiOnRydWUsImRpc2p1bmN0aXZlLm5hdHVyZV9jdWx0dXJlIjp0cnVlLCJkaXNqdW5jdGl2ZS5jb2RlX25hdHVyZV9jdWx0dXJlX3NwZWNpYWxlIjp0cnVlLCJkaXNqdW5jdGl2ZS5uYXR1cmVfY3VsdHVyZV9zcGVjaWFsZSI6dHJ1ZSwiZGlzanVuY3RpdmUuZGVwX25hbWUiOnRydWUsImRpc2p1bmN0aXZlLnJlZ19jb2RlIjp0cnVlLCJkaXNqdW5jdGl2ZS5yZWdfbmFtZSI6dHJ1ZSwic29ydCI6Ii1sb25naXR1ZGUifX0sImNoYXJ0cyI6W3siYWxpZ25Nb250aCI6dHJ1ZSwidHlwZSI6ImxpbmUiLCJmdW5jIjoiQVZHIiwieUF4aXMiOiJ2YWxldXJfZm9uY2llcmUiLCJzY2llbnRpZmljRGlzcGxheSI6dHJ1ZSwiY29sb3IiOiIjRkY1MTVBIn1dLCJ4QXhpcyI6ImRhdGVfbXV0YXRpb24iLCJtYXhwb2ludHMiOiIiLCJ0aW1lc2NhbGUiOiJ5ZWFyIiwic29ydCI6IiJ9XSwiZGlzcGxheUxlZ2VuZCI6dHJ1ZSwiYWxpZ25Nb250aCI6dHJ1ZX0%3D&location=8,43.68774,3.91937&basemap=jawg.light)

In [ ]:
import pandas as pd
dep_code = [75,77,78,91,92,93,94,95]

In [ ]:
data = pd.read_excel('2014.xlsx')
parcel_map_14 = data[["Identifiant de la parcelle cadastrale","Longitude", "Latitude","Géolocalisation"]]
parcel_map_14 = parcel_map_14.drop_duplicates()
parcel_map_14

,Identifiant de la parcelle cadastrale,Longitude,Latitude,Géolocalisation
0,774470000C0242,2.552813,48.542406,"48.542406, 2.552813"
1,774470000C0256,2.551254,48.542549,"48.542549, 2.551254"
2,77350000BD0025,2.665089,48.761979,"48.761979, 2.665089"
5,772960000A1659,2.598156,48.628214,"48.628214, 2.598156"
6,77450000AK0162,2.607617,48.718140,"48.71814, 2.607617"
...,...,...,...,...
341531,75117000AO0059,2.294377,48.880246,"48.880246, 2.294377"
341536,75117000CR0041,2.318630,48.887369,"48.887369, 2.31863"
341538,75117000DH0108,2.322169,48.893376,"48.893376, 2.322169"
341543,75117000AI0035,2.292471,48.876138,"48.876138, 2.292471"
341548,75117000CD0015,2.309597,48.888375,"48.888375, 2.309597"

In [ ]:
data = pd.read_excel('2015.xlsx')
parcel_map_15 = data[["Identifiant de la parcelle cadastrale","Longitude", "Latitude","Géolocalisation"]]
parcel_map_15 = parcel_map_15.drop_duplicates()
parcel_map_15

,Identifiant de la parcelle cadastrale,Longitude,Latitude,Géolocalisation
0,930720000T0429,2.395135,48.949347,"48.949347, 2.395135"
1,93066000BH0005,2.357551,48.931016,"48.931016, 2.357551"
2,930590000C0171,2.358986,48.969708,"48.969708, 2.358986"
3,93066000AI0047,2.351531,48.936477,"48.936477, 2.351531"
5,93066000CH0026,2.365497,48.918831,"48.918831, 2.365497"
...,...,...,...,...
382895,771120000B0761,2.617915,48.246086,"48.246086, 2.617915"
382897,770480000B0131,2.713076,48.337796,"48.337796, 2.713076"
382902,77305000AS0390,2.952987,48.391307,"48.391307, 2.952987"
382903,77333000AE0158,2.710021,48.269796,"48.269796, 2.710021"
382910,770480000F0308,2.701592,48.338721,"48.338721, 2.701592"

In [ ]:
data = pd.read_excel('2016.xlsx')
parcel_map_16 = data[["Identifiant de la parcelle cadastrale","Longitude", "Latitude","Géolocalisation"]]
parcel_map_16 = parcel_map_16.drop_duplicates()
parcel_map_16

,Identifiant de la parcelle cadastrale,Longitude,Latitude,Géolocalisation
0,77284000BX0140,2.880785,48.969585,"48.969585, 2.880785"
1,77108000AX0021,2.591281,48.877113,"48.877113, 2.591281"
2,77449000AD0477,2.786365,48.848781,"48.848781, 2.786365"
3,77018000AD0136,2.815989,48.849190,"48.84919, 2.815989"
4,77196000AB0280,2.740067,48.939173,"48.939173, 2.740067"
...,...,...,...,...
420438,930490000C1590,2.511293,48.852676,"48.852676, 2.511293"
420445,93032000BN0425,2.570094,48.877939,"48.877939, 2.570094"
420448,93062000AE0335,2.525940,48.892396,"48.892396, 2.52594"
420455,95585000AD0288,2.373499,48.994280,"48.99428, 2.373499"
420456,95268000AZ0402,2.396858,48.969099,"48.969099, 2.396858"

In [ ]:
data = pd.read_excel('2017.xlsx')
parcel_map_17 = data[["Identifiant de la parcelle cadastrale","Longitude", "Latitude","Géolocalisation"]]
parcel_map_17 = parcel_map_17.drop_duplicates()
parcel_map_17

,Identifiant de la parcelle cadastrale,Longitude,Latitude,Géolocalisation
0,95555000AE0707,2.284567,48.966736,"48.966736, 2.284567"
1,95219000AD0838,2.261159,48.990446,"48.990446, 2.261159"
2,95203000AN0457,2.274925,48.982085,"48.982085, 2.274925"
3,95060000BM0486,NaN,NaN,NaN
4,95607000BV0297,2.213980,49.028578,"49.028578, 2.21398"
...,...,...,...,...
488299,78423000BY0306,2.029797,48.771800,"48.7718, 2.029797"
488325,78646000BV0013,2.120909,48.800065,"48.800065, 2.120909"
488330,78158000AI0342,2.131680,48.815118,"48.815118, 2.13168"
488332,78545000AE0276,2.066178,48.807994,"48.807994, 2.066178"
488333,78297000AD0100,2.077185,48.774342,"48.774342, 2.077185"

In [ ]:
data = pd.read_excel('2018.xlsx')
parcel_map_18 = data[["Identifiant de la parcelle cadastrale","Longitude", "Latitude","Géolocalisation"]]
parcel_map_18 = parcel_map_18.drop_duplicates()
parcel_map_18

,Identifiant de la parcelle cadastrale,Longitude,Latitude,Géolocalisation
0,95580000AH0011,2.577666,49.092047,"49.092047, 2.577666"
1,95149000AH0065,NaN,NaN,NaN
2,95585000BD0779,2.376152,48.978674,"48.978674, 2.376152"
4,95250000AE0864,2.514539,49.099156,"49.099156, 2.514539"
5,95019000AE0597,2.426647,48.978828,"48.978828, 2.426647"
...,...,...,...,...
473836,75119000EB0076,2.385944,48.875321,"48.875321, 2.385944"
473837,75120000BZ0091,2.388323,48.862945,"48.862945, 2.388323"
473841,75119000EN0015,2.381493,48.885351,"48.885351, 2.381493"
473849,75120000CA0075,2.392437,48.864339,"48.864339, 2.392437"
473855,75119000AO0024,2.374790,48.888604,"48.888604, 2.37479"

In [ ]:
data = pd.read_excel('2019.xlsx')
parcel_map_19 = data[["Identifiant de la parcelle cadastrale","Longitude", "Latitude","Géolocalisation"]]
parcel_map_19 = parcel_map_19.drop_duplicates()
parcel_map_19

,Identifiant de la parcelle cadastrale,Longitude,Latitude,Géolocalisation
0,772150000D0131,2.729158,48.740767,"48.740767, 2.729158"
1,77390000AD0025,2.662357,48.793764,"48.793764, 2.662357"
2,773730000C0627,2.611548,48.779040,"48.77904, 2.611548"
3,77378000AD0276,2.562586,48.522734,"48.522734, 2.562586"
4,772440000B0124,2.610221,48.310247,"48.310247, 2.610221"
...,...,...,...,...
511641,75112000AI0082,2.408831,48.846078,"48.846078, 2.408831"
511644,75111000AE0043,2.373739,48.867347,"48.867347, 2.373739"
511649,75112000EW0021,2.378601,48.847474,"48.847474, 2.378601"
511650,75112000AB0023,2.405798,48.846707,"48.846707, 2.405798"
511654,75111000AD0010,2.374221,48.869688,"48.869688, 2.374221"

In [ ]:
data = pd.read_excel('2020.xlsx')
parcel_map_20 = data[["Identifiant de la parcelle cadastrale","Longitude", "Latitude","Géolocalisation"]]
parcel_map_20 = parcel_map_20.drop_duplicates()
parcel_map_20

,Identifiant de la parcelle cadastrale,Longitude,Latitude,Géolocalisation
0,94068000BD0202,2.518042,48.800481,"48.800481, 2.518042"
1,940020000L0131,2.411068,48.805455,"48.805455, 2.411068"
2,940460000A0293,2.418165,48.815607,"48.815607, 2.418165"
3,940690000N0094,2.457687,48.815184,"48.815184, 2.457687"
4,94068000BN0121,2.509861,48.794034,"48.794034, 2.509861"
...,...,...,...,...
459608,914630000B2230,2.472079,48.387460,"48.38746, 2.472079"
459614,91129000AM0285,2.328939,48.481228,"48.481228, 2.328939"
459618,91533000AK0104,2.117712,48.360059,"48.360059, 2.117712"
459619,91232000AB0452,2.348920,48.480636,"48.480636, 2.34892"
459620,91359000AH0177,2.377543,48.393031,"48.393031, 2.377543"

In [ ]:
data = [parcel_map_14,parcel_map_15,parcel_map_16,parcel_map_17,parcel_map_18,parcel_map_19,parcel_map_20]
parcel_map = pd.concat(data)
parcel_map = parcel_map.drop_duplicates()
parcel_map.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 724456 entries, 0 to 459620
Data columns (total 4 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Identifiant de la parcelle cadastrale  724456 non-null  object
 1   Longitude                              701179 non-null  float64
 2   Latitude                               701179 non-null  float64
 3   Géolocalisation                        701179 non-null  object
dtypes: float64(2), object(2)
memory usage: 27.6+ MB

In [ ]:
parcel_map.to_csv('parcel_map_1.csv',index=False)